* {
    font-family: Times, Times New Roman, serif;
    color: #3f3f3f;
    box-sizing: border-box;
}
body {
    background: #FFFF;
    margin:auto;
    width: 100%;
    max-width:1200px;
    min-height: auto;
}
 #feature, #footer {
    padding: 10px;
    margin: 10px;
}
.header_air_conditioner {
    background: #9ACEEB;
    margin: 5px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #b5e9a7;
    border-radius: 5px;
     top: 0;
     left: 0;
     height: 70px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .header_air_conditioner ul {
    list-style: none;
    float: right;
    margin-right: 15px;
}
.tels {
    list-style: none;
    display: block;
    position: relative;
    margin-right: 5px;
    /* margin-top: -7px; */
    line-height: 2;
    font-size: 18px;
    float:right;
    text-decoration: none;
    font-weight: bold;
    color: #327dc8;
}
#page_air_conditioner {
    display: block;
    position: relative;
    margin-left: 20px;
    color: #327dc8;
    float: left;
}
.hed {
    margin-top: 20px;

}
.mobail {
     width: 100%;
     /* height: 90px; */
     /* background: #9ACEEB;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.imges {
    /* display: block;
    position: absolute; */
    width: 30%;
    float: left;
    margin-top: 30px;
    /* margin-left: 10px; */
    /* width: 27%;
     height: 14%; */
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .imges {
        width: 40%;
        margin-top:35px;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .imges {
        width: 90%;
        margin-top:-10px;
    }
}
@media screen and (min-width: 80px) and (max-width: 320px) {
    .imges {
        width: 90%;
    }
}

@media screen and (min-width: 80px) and (max-width: 600px) {
    .main  {
        visibility: hidden;
        display: none;
    }

}
.title_airconditioner {
    text-align: center;
}

.title_airconditioner img {
    width: 75%;
}
#tit {
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #B1AEA5;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .title_airconditioner img {
        width: 90%;
    }
}
@media screen and (min-width: 80px) and (max-width: 320px) {
    .imgtitle_airconditioner img {
        width: 90%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .title_airconditioner img {
        width: 90%;
    }
}
/* #imgconteiner {
    text-align: center;
    width: 100%;

} */
.imgs {
    width: 100%;
    /* filter: alpha(Opacity=75);
    opacity: 0.75 */
}
/* .container{
    position: relative;
} */
div#tekst_sverhu_kartinki {

    position: relative;

    }

    .tekst_sverhu_kartinki_1 {

    position: absolute;

    margin-top: 20ps;
    bottom: 17%;

    text-transform: uppercase;

    color: #327dc8;

    /* width: 300px; */

    }

    .tekst_sverhu_kartinki_1 span {

    font: bold 25px Helvetica, Sans-Serif;

    background: #00000034;

    margin: 10px;

    }
    .iconblock-5 {
        position: relative;
        margin:10px;
        border: 1px solid #C5C5C5;
        transition: transform 300ms ease, box-shadow 300ms ease;
        text-align:center;
        display: inline-block;
        width: 350px;
        padding: 10px;
    }
    .centers {
        text-align: center;
        margin-top: 25px;
    }
    .iconblock-5 .icon {
        display: block;
        position: absolute;
        left: 50%;
        width: 80px;
        transform: translate(-50%, -50%);
    }
    .iconblock-5 .icon i,
    .iconblock-5 .icon img
    {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 32px;
        transform: translate(-50%, -50%);
        color: #337AB7;
        width: 52px;
        height: 52px;
    }
    .iconblock-5 .icon svg path {
        stroke-width: 8px;
        stroke: #BDE1FF;
        transition: stroke 300ms ease;
    }
    .iconblock-5 .icon svg polygon {
        fill: white;
    }
    .iconblock-5 h3 {
        transition: all 0.7s ease 0s;
        color: #337AB7;
        font-size:20px;
        margin:50px 0 10px 0;
    }
    .iconblock-5:hover h3 {
        color: #000;
    }
    .iconblock-5:hover {
        transform: translateY(-10px);
        box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5);
    }
    .iconblock-5:hover .icon svg path {
        stroke: #337AB7;
    }

/* МЕНЮ ВО ВСЮ ШИРИНУ */
@media screen and (max-width: 600px)  {
    nav {
        visibility: hidden;
    display: none;
    }
}
nav {
    z-index: 100;
}
nav{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
  }
  .topmenu {
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
  }
  .topmenu > li {
    display: inline-block;
    position: relative;
  }
  .topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-weight: bold;
    font-size:12px;
    color: #003559;
    text-transform: uppercase;
  }
  .down:after {
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome;
  }
  .topmenu li a:hover { color: #E6855F; }
  .submenu {
    background: white;
    border: 1px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
  }
  .topmenu > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
  }
  .submenu li a {
    color: #7f7f7f;
    font-size: 17px;
    line-height: 36px;
    padding: 0 25px;
    font-family: 'Kurale', serif;
  }

#featuretexttitle  {
    margin-left: 25px;
    margin-top: 45px;
    float: left;
}

#feature p {
    text-align: justify;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    #features {
        visibility: hidden;
    display: none;
    }
}
.features_mobail p {
    font-size: 20px;
}

#features .sochistyletext {
    text-transform: uppercase;
font-size: 16px;
/* font-weight: bold; */
margin-left: 10px;
margin-top: 5px;
}

/* НАВИГАТОР mobail */
@media screen and (min-width:500px)   {
    .btn-menu {
        visibility: hidden;
        display: none;
    }
}
.hidden-menu-ticker {
    display: none;
}
.btn-menu {
    position: fixed;
    right: 18px;
    top: 28px;
    color: #000000;
    border: 3px solid #327dc8;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    padding: 3px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 35px;
    height: 35px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.btn-menu span {
    display: block;
    height: 2px;
    background-color: #327dc8;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu span.first {
    margin-top: 5px;
}
.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 50px 10px 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #9ACEEB;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu li {
    padding:10px 0;
}

.hidden-menu li a {
    font-size: 20px;
    color:#000;
    padding: 6px 0px;
    text-decoration: none;
}
.hidden-menu-ticker:checked ~ .btn-menu {
    left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

@media screen and (min-width:500px)   {
    .header_main {
        visibility: hidden;
        display: none;
    }
}

  /* I haven't found a way for IE and Edge to let me style inputs that way */
  input {
      appearance: none;
      -ms-appearance: none;
      -webkit-appearance: none;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateX(100%);
      transition: transform ease-in-out 400ms;
      z-index: 1;
  }

  input:focus {
      outline: none;
  }

  input:after {
      content: attr(title);
      position: absolute;
      top: 1rem;
      left: 1rem;
      background-color: rgba(0,0,0,0.4);
      color: white;
      padding: .5rem;
      font-size: 1rem;
      border-radius: 5px;
  }

  input:not(checked):before {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      top: 50%;
      left: calc(-100% + 1rem);
  }

  input:checked:before {
      display: none;
      left: 1rem;
  }

  input:checked {
      transform: translateX(0);
      pointer-event: none;
      z-index: 0;
      /* box-shadow: -5px 10px 20px -15px rgba(0,0,0,1); */
  }

  input:checked + input:before {
      left: -3rem;
  }

  input:checked + input ~ input:before {
      display: none;
  }
  

/* Контейнер, который затемняет страницу */
.css-modal-target {
    display: none;
}
.css-modal-target:target {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(51, 122, 183, 0.7);
}

/* Модальное окно */
.css-modal-target .cmt {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 20px;
    width: 97%;
    z-index: 8;
    max-width: 600px;
    max-height: 70%;
    transition: 0.5s;
    border: 2px solid #BFE2FF;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
    animation: scale 0.5s ease;
}
/* Кнопка с крестиком закрывающая окно */
.css-modal-close {
    position: relative;
    display: block;
}
.css-modal-close:after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #BFE2FF;
    border-radius: 12px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
}
.css-modal-close:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}

/* Анимации */
@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes move {
    0% {
        right: -80px;
    }
    100% {
        right: 20px;
    }
}
@keyframes bg {
    0% {
        background: rgba(51, 122, 183, 0);
    }
    100% {
        background: rgba(51, 122, 183, 0.7);
    }
}

/* Контейнер для кнопки 1*/
.css-modal-target-container1 {
    height: 60px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.css-modal-open1 {
    text-decoration: none;
}

/* Контейнер, который затемняет страницу 1 */
.css-modal-target1 {
    display: none;
}
.css-modal-target1:target {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(51, 122, 183, 0.7);
}

/* Модальное окно 1 */
.css-modal-target1 .cmt1 {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 20px;
    width: 97%;
    z-index: 8;
    max-width: 600px;
    max-height: 70%;
    transition: 0.5s;
    border: 2px solid #BFE2FF;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
    animation: scale 0.5s ease;
}


/* Кнопка с крестиком закрывающая окно 1*/
.css-modal-close1 {
    position: relative;
    display: block;
}
.css-modal-close1:after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #BFE2FF;
    border-radius: 12px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
}
.css-modal-close1:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}

/* Контейнер для кнопки 2*/
.css-modal-target-container2 {
    height: 60px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.css-modal-open2 {
    text-decoration: none;
}

/* Контейнер, который затемняет страницу 2 */
.css-modal-target2 {
    display: none;
}
.css-modal-target2:target {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(51, 122, 183, 0.7);
}

/* Модальное окно 2 */
.css-modal-target2 .cmt2 {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 20px;
    width: 97%;
    z-index: 8;
    max-width: 600px;
    max-height: 70%;
    transition: 0.5s;
    border: 2px solid #BFE2FF;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
    animation: scale 0.5s ease;
}


/* Кнопка с крестиком закрывающая окно 2*/
.css-modal-close2 {
    position: relative;
    display: block;
}
.css-modal-close2:after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #BFE2FF;
    border-radius: 12px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
}
.css-modal-close2:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}

/* Контейнер для кнопки 3*/
.css-modal-target-container3 {
    height: 60px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.css-modal-open3 {
    text-decoration: none;
}

/* Контейнер, который затемняет страницу 3 */
.css-modal-target3 {
    display: none;
}
.css-modal-target3:target {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(51, 122, 183, 0.7);
}

/* Модальное окно 3*/
.css-modal-target3 .cmt3 {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 20px;
    width: 97%;
    z-index: 8;
    max-width: 600px;
    max-height: 70%;
    transition: 0.5s;
    border: 2px solid #BFE2FF;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
    animation: scale 0.5s ease;
}


/* Кнопка с крестиком закрывающая окно 3*/
.css-modal-close3 {
    position: relative;
    display: block;
}
.css-modal-close3:after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #BFE2FF;
    border-radius: 12px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
}
.css-modal-close3:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}


