* {
    font-family: Times, Times New Roman, serif;
    color: #3f3f3f;
    box-sizing: border-box;
}
body {
    background: #FFFF;
    margin:auto;
    width: 100%;
    max-width:700px;
    min-height: auto;
}
 #feature, #footer {
    padding: 10px;
    margin: 10px;
}
.header_air_conditioner {
    background: #9ACEEB;
    margin: 5px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #b5e9a7;
    border-radius: 5px;
     top: 0;
     left: 0;
     height: 70px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .header_air_conditioner ul {
    list-style: none;
    float: right;
    margin-right: 15px;
}
.tels {
    list-style: none;
    display: block;
    position: relative;
    margin-right: 5px;
    /* margin-top: -7px; */
    line-height: 2;
    font-size: 18px;
    float:right;
    text-decoration: none;
    font-weight: bold;
    color: #327dc8;
}
#page_air_conditioner {
    display: block;
    position: relative;
    margin-left: 20px;
    color: #327dc8;
    float: left;
}
.hed {
    margin-top: 20px;

}
.mobail {
     width: 100%;
}
.imges {
    width: 30%;
    float: left;
    margin-top: 30px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .imges {
        width: 40%;
        margin-top:35px;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .imges {
        width: 90%;
        margin-top:-10px;
    }
}
@media screen and (min-width: 80px) and (max-width: 320px) {
    .imges {
        width: 90%;
    }
}

@media screen and (min-width: 80px) and (max-width: 600px) {
    .main  {
        visibility: hidden;
        display: none;
    }

}
.title_airconditioner {
    text-align: center;
}

.title_airconditioner img {
    width: 75%;
}
#tit {
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #B1AEA5;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .title_airconditioner img {
        width: 90%;
    }
}
@media screen and (min-width: 80px) and (max-width: 320px) {
    .imgtitle_airconditioner img {
        width: 90%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .title_airconditioner img {
        width: 90%;
    }
}

.imgs {
    width: 100%;
}

.content p {
    text-transform:none;
    text-align: center;
    font-size: 15px;
    /* padding: -10px; */
}
.content h2 {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: #337AB7;
}
.content_list {
    margin: 10, 0, 0, 10;
}

.list {
   text-align: center;
    text-transform:uppercase; 
    position: relative;
    
}
#emails{
    text-decoration: none; 
    color: #fff;
}
/* .list #part  {
    border: 1px, solid,  Silver;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
.list a {
    text-decoration: none;
}
#part:hover {
    border-color: #293133;
    background: #CAC4B0;
    color: #fff;
}
.list #part {
    font-size: 14px;
}
.different {
    background: #E0FFFF;
    text-align: center;
    border-radius: 7px;
}
 #part0 {
    style: bold;
    font-size: 18px;
    border: 1px, solid,  Silver;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}
#part0:hover {
    background: #98FB98;
    
} */


/* модальное окно */

/* Контейнер для кнопки, чтобы не прыгал контент, когда она сменит позиционирование */
.css-modal-details {
    text-transform:uppercase;
    position: relative;
    
    
}
 
/* Кнопка для открытия */
.css-modal-details summary {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    color: #FFF;
    text-transform: uppercase;
    background: #337AB7;
    opacity: 0.8;
    cursor: pointer;
    border: 1px solid #BFE2FF;
    overflow: hidden;
    width:90%;
    display:inline-block;
    border-radius: 20px;
}
.css-modal-details  #part0 {
    background: #6495ED;
}
.css-modal-details summary:hover,
.css-modal-details summary:active,
.css-modal-details summary:focus {
    color: #FFF;
}
.css-modal-details summary:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2D6B9F;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.css-modal-details summary:hover:before,
.css-modal-details summary:active:before,
.css-modal-details summary:focus:before {
    transform: translateX(0);
}
 
/* Кнопка при открытом окне переходит на весь экран */
.css-modal-details details[open] summary {
    cursor: default;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}
 
/* Контейнер, который затемняет страницу */
.css-modal-details details .cmc {
    display:flex;
    align-items:center;
    justify-content:center;    
}
.css-modal-details details[open] .cmc {
    pointer-events: none;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(51, 122, 183, 0.7);
}
 
/* Модальное окно */

.cmt #widths  {
    text-align: justify;
}
.css-modal-details details .cmt {
    /* font-family: Verdana, sans-serif;  */ 
    font-size: 12px;
    padding: 10px;
    width:90%;
    max-width: 600px;
    max-height: 70%;
    transition: 0.5s;
    border: 1px solid #BFE2FF;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
}
.css-modal-details details[open] .cmt {
    animation: scale 0.5s ease;
    z-index: 4;
    pointer-events: auto;
}
.css-modal-details details .cmt h1 {
    font-size: 15px;
}
 
/* Декоративная кнопка с крестиком */
.css-modal-details details[open] .cmc:after {
    content: "";
    width: 25px;
    height: 25px;
    border: 2px solid #BFE2FF;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
}
 
/* Анимации */
@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes move {
    0% {
        right: -80px;
    }
    100% {
        right: 20px;
    }
}
@keyframes bg {
    0% {
        background: rgba(51, 122, 183, 0);
    }
    100% {
        background: rgba(51, 122, 183, 0.7);
    }
}
#footer {
    text-align: center;
}

/* форма обратной связи */

/* Базовый стиль формы */
form {
    margin: 0 auto;
    max-width: 95%;
    padding: 30px 30px 6px 30px;
    /* border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; */
   /*  -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; */
    /* background: rgba(91, 193, 245, 1); */
    /* -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5); */
    /* box-shadow: 0 0 13px 3px rgba(0,0,0,.5); */
    overflow: hidden; 
}
/* Поле сообщения */
textarea{
    background: rgba(149, 153, 156, 1);
    width: 100%;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;
    color:#000;
    padding-left:25px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}
/* Поля ввода */
input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;    
    color:#000;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}
input[type=submit] {
    cursor:pointer;
}
input.name {
    background: rgba(149, 153, 156, 1); 
    padding-left:25px;
}
input.email {
    background: rgba(149, 153, 156, 1);
    padding-left:25px;
}
input.message {
    background: rgba(149, 153, 156, 1);
    padding-left:25px;
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
    color: #fff; 
}
input:focus, textarea:focus { 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}
/* Стили для кнопки отправить */
.btn {
    width: 138px;
    height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float:right;
    /* border: 1px solid #253737; */
    background: #337AB7;
   /*  background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%); */
    padding: 10.5px 21px;
    /* -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0; */
    color: #e1e1e1;
}
.btn:hover {
   /*  border: 1px solid #253737; */
    text-shadow: #333333 0 1px 0;
    background: #6495ED;
   /*  background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%); */
    color: #fff;
 }
.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    /* border: 1px solid #333333; */
    background: #7B68EE;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#ffCC00), to(#ff6600));
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600);
    background: -moz-linear-gradient(top, #ffcc00, #ff6600);
    background: -ms-linear-gradient(top, #ffcc00, #ff6600);
    background: -o-linear-gradient(top, #ffcc00, #ff6600);
    background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff6600 100%); */
    color: #fff;
    /* -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0; */
    outline: none;
}

/* НАВИГАТОР mobail */
/* @media screen and (min-width:500px)   {
    .btn-menu {
        visibility: hidden;
        display: none;
    }
}
.hidden-menu-ticker {
    display: none;
}
.btn-menu {
    position: fixed;
    right: 18px;
    top: 28px;
    color: #000000;
    border: 3px solid #327dc8;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    padding: 3px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 35px;
    height: 35px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.btn-menu span {
    display: block;
    height: 2px;
    background-color: #327dc8;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu span.first {
    margin-top: 5px;
}
.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 50px 10px 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #9ACEEB;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu li {
    padding:10px 0;
}

.hidden-menu li a {
    font-size: 20px;
    color:#000;
    padding: 6px 0px;
    text-decoration: none;
}
.hidden-menu-ticker:checked ~ .btn-menu {
    left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

@media screen and (min-width:500px)   {
    .header_main {
        visibility: hidden;
        display: none;
    }
}
 */
